/* Coolors Exported Palette - coolors.co/0d1b2a-a1a4a8-cdd1d6-edf1f4-f9f9f9 */

/* HSL */
$color1: hsla(211%, 53%, 11%, 1);
$color2: hsla(214%, 4%, 65%, 1);
$color3: hsla(213%, 10%, 82%, 1);
$color4: hsla(206%, 24%, 94%, 1);
$color5: hsla(0%, 0%, 98%, 1);

/* RGB */
$color1: #0d1b2a;
$color2: #a2a4a8;
$color3: #ced1d6;
$color4: #f1f1f1;
$color5: #f9f9f9;
